# Desafio

In [1]:
# Bibliotecas
import numpy as np
import pandas as pd

In [28]:
df = pd.read_csv("https://pycourse.s3.amazonaws.com/bike-sharing.csv")
df.head(100)

,datetime,rec_id,season,year,month,hour,is_holiday,weekday,is_workingday,weather_condition,temp,atemp,humidity,windspeed,casual,registered,total_count
0,2011-01-01,1,1,0,1,0,0,6,0,1,0.24,0.2879,0.81,0.0000,3,13,16
1,2011-01-01,2,1,0,1,1,0,6,0,1,0.22,0.2727,0.80,0.0000,8,32,40
2,2011-01-01,3,1,0,1,2,0,6,0,1,0.22,0.2727,0.80,0.0000,5,27,32
3,2011-01-01,4,1,0,1,3,0,6,0,1,0.24,0.2879,0.75,0.0000,3,10,13
4,2011-01-01,5,1,0,1,4,0,6,0,1,0.24,0.2879,0.75,0.0000,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,2011-01-05,96,1,0,1,4,0,3,1,1,0.24,0.2273,0.48,0.2239,0,2,2
96,2011-01-05,97,1,0,1,5,0,3,1,1,0.22,0.2273,0.47,0.1642,0,3,3
97,2011-01-05,98,1,0,1,6,0,3,1,1,0.20,0.1970,0.47,0.2239,0,33,33
98,2011-01-05,99,1,0,1,7,0,3,1,1,0.18,0.1818,0.43,0.1940,1,87,88
99,2011-01-05,100,1,0,1,8,0,3,1,1,0.20,0.1818,0.40,0.2985,3,192,195

In [3]:
df.shape

(17379, 17)

In [47]:
df = df.set_index('rec_id')

In [50]:
df

,datetime,season,year,month,hour,is_holiday,weekday,is_workingday,weather_condition,temp,atemp,humidity,windspeed,casual,registered,total_count,ano
rec_id,,,,,,,,,,,,,,,,,
1,2011-01-01,1,0,1,0,0,6,0,1,0.24,0.2879,0.81,0.0000,3,13,16,2011
2,2011-01-01,1,0,1,1,0,6,0,1,0.22,0.2727,0.80,0.0000,8,32,40,2011
3,2011-01-01,1,0,1,2,0,6,0,1,0.22,0.2727,0.80,0.0000,5,27,32,2011
4,2011-01-01,1,0,1,3,0,6,0,1,0.24,0.2879,0.75,0.0000,3,10,13,2011
5,2011-01-01,1,0,1,4,0,6,0,1,0.24,0.2879,0.75,0.0000,0,1,1,2011
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17375,2012-12-31,1,1,12,19,0,1,1,2,0.26,0.2576,0.60,0.1642,11,108,119,2012
17376,2012-12-31,1,1,12,20,0,1,1,2,0.26,0.2576,0.60,0.1642,8,81,89,2012
17377,2012-12-31,1,1,12,21,0,1,1,1,0.26,0.2576,0.60,0.1642,7,83,90,2012
17378,2012-12-31,1,1,12,22,0,1,1,1,0.26,0.2727,0.56,0.1343,13,48,61,2012
17379,2012-12-31,1,1,12,23,0,1,1,1,0.26,0.2727,0.65,0.1343,12,37,49,2012

In [104]:
df['windspeed'].describe()

count    17379.000000
mean         0.190098
std          0.122340
min          0.000000
25%          0.104500
50%          0.194000
75%          0.253700
max          0.850700
Name: windspeed, dtype: float64

In [48]:
df['temp'].describe()

count    17379.000000
mean         0.496987
std          0.192556
min          0.020000
25%          0.340000
50%          0.500000
75%          0.660000
max          1.000000
Name: temp, dtype: float64

In [133]:
df.dtypes

datetime             datetime64[ns]
season                        int64
year                          int64
month                         int64
hour                          int64
is_holiday                    int64
weekday                       int64
is_workingday                 int64
weather_condition             int64
temp                        float64
atemp                       float64
humidity                    float64
windspeed                   float64
casual                        int64
registered                    int64
total_count                   int64
ano                           int64
dtype: object

In [38]:
df['datetime'] = pd.to_datetime(df['datetime'])

In [39]:
df['ano'] = df['datetime'].dt.year

In [40]:
df['ano']

0        2011
1        2011
2        2011
3        2011
4        2011
         ...
17374    2012
17375    2012
17376    2012
17377    2012
17378    2012
Name: ano, Length: 17379, dtype: int64

In [41]:
df['ano'].value_counts()

2012    8734
2011    8645
Name: ano, dtype: int64

In [68]:
df[df['ano'] == 2011]['total_count'].sum()

1243103

In [69]:
df[df['ano'] == 2012]['total_count'].sum()

2049576

In [78]:
df['season'].value_counts()

3    4496
2    4409
1    4242
4    4232
Name: season, dtype: int64

In [80]:
df[df['season'] == 1]['total_count'].mean()

111.11456859971712

In [81]:
df[df['season'] == 2]['total_count'].mean()

208.34406894987526

In [82]:
df[df['season'] == 3]['total_count'].mean()

236.01623665480426

In [83]:
df[df['season'] == 4]['total_count'].mean()

198.86885633270322

In [109]:
df[df['hour'] == 4]['total_count'].mean()

6.352941176470588

In [110]:
df[df['hour'] == 7]['total_count'].mean()

212.0646492434663

In [111]:
df[df['hour'] == 17]['total_count'].mean()

461.45205479452056

In [113]:
df[df['hour'] == 20]['total_count'].mean()

226.03021978021977

In [114]:
df[df['weekday'] == 0]['total_count'].mean()

177.46882494004797

In [115]:
df[df['weekday'] == 2]['total_count'].mean()

191.23889115368937

In [123]:
df[df['weekday'] == 4]['total_count'].mean()

196.43666531768514

In [138]:
df[df['weekday'] == 6]['total_count'].mean()

190.20979299363057

TypeError: query() missing 1 required positional argument: 'expr'